{% extends '../layout.twig' %}

{% block body %}

    <h1>Users list</h1>
    <h3>Number of views : {{ views }} </h3>

    <div class="container">
        <div class="row">
            <div>
                <a href="/users" class="btn btn-dark"> Voir tous les prénoms</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th></th>
                    </thead>

                    {% for data in datas %}
                        <tr><td>{{ data.id }}</td>
                        <td>{{data.name}} </td>
                        <td>{{data.surname}}</td>
                        <td>
                            <form action="/users/edit" method="GET">
                                <input type="text" name="id" hidden>
                                <button class="btn btn-warning">Editer</button>
                            </form>
                        </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xs-2 form">
                <h3>Formulaire de Création</h3>
                <form action="/users/create" method="post">
                    <div class="form-group">
                    <label for="nom">Nom</label>
                    <input class="form-control" type="text" placeholder="nom" name="name">
                    </div>
                    <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input class="form-control" type="text" placeholder="prenom" name="surname">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark" type="submit" name="Submit">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-xs-2 form">
                <h3>Formulaire de recherche</h3>
                <form action="/users/search" method="post">
                    <div class="form-group">
                        <label for="nom">Rechercher nom : </label>
                        <input class="form-control" type="text" placeholder="nom" name="name">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-dark" type="submit" name="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
