{% extends '../layout.twig' %}

{% block body %}

    <h1>Users list</h1>
    <h3>Number of views : {{ views }} </h3>

    <div class="container">
        <div class="row">
            <div>
                <a href="/users" class="btn btn-dark"> Voir tous les prénoms</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 form">
                <h3>Formulaire de Création</h3>
                <form action="/users/edit" method="POST">
                    <input type="text" name="id" hidden value="{{ data.id }}">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input class="form-control" type="text" value="{{ data.name }}" name="name">
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input class="form-control" type="text" value="{{ data.surname }}" name="surname">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark" type="submit" name="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
