html, body {
    margin: 0;
    padding: 0;
    background: #3D3D3D;
}

.container {
    position: fixed;
    width: 100%;
    top: 0; bottom: 0; padding: 10px;
    min-height: 200px;
}

.row {
    display: flex;
}

#follow { position: fixed; top: 10px; bottom: calc(20% + 10px); left: 10px; right: 10px; }
#wrap { position: fixed; bottom: 10px; top: 80%; left: 10px; right: 10px; min-height: 100px; }
#messages, #online, #wrap { background: #FAFAFA; border: 1px white solid; padding: 10px; }

#messages, #online { overflow-y: scroll; }
#messages { position: absolute; top: 0; right: calc(20% + 10px); left: 0; bottom: 0; }
#online { position: absolute; top: 0; right: 0; left: 80%; bottom: 0; }

#userbox { margin-bottom: 10px; }
textarea[name='msg'] {
    width: calc(100% - 55px);
    max-width: calc(100% - 55px);
    min-width: calc(100% - 55px);
    min-height: 70px;
    max-height: 70px;
    height: 70px;
}
#send { width: 50px; }
.message {
    background: #FAFAFA;
    position: relative;
    border-bottom: 1px grey solid;
    margin: 0;
    padding: 10px 0; 
    white-space: pre-wrap;
}

.message em {
    position: absolute;
    right: 0;
}